.game-board-container {
  width: 100vw;
  height: 100vh;
  background: url(../images/game-board-elements/background.jpg) no-repeat bottom;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center; }
  .game-board-container .canvas-container {
    height: 578px; }
  .game-board-container canvas {
    border-radius: 10px;
    border: 2px solid white;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25); }

.game-board-info {
  width: calc(100vw - 712px);
  height: 100vh; }

/***** Fonts *****/
@font-face {
  font-family: 'luckiestGuy';
  src: url("../fonts/LuckiestGuy-Regular.ttf");
  font-weight: bold;
  font-style: normal; }
/***** Variables *****/
body {
  margin: 0;
  font-family: 'Roboto'; }

/***** genaric & common classes *****/
.show {
  display: block; }

.hide {
  display: none; }

.splash-screen-main,
.choose-character-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; }
  .splash-screen-main h6,
  .choose-character-main h6 {
    position: absolute;
    bottom: 0;
    text-align: center; }

/***** start for splashscreen style *****/
.splash-screen-main {
  flex-direction: column;
  background: url(../images/splash-screen-elements/background.jpg) no-repeat center;
  background-size: cover; }
  .splash-screen-main h6 {
    color: #784296; }

.basic-ellipse {
  width: 0;
  height: 0;
  top: -6%;
  position: relative;
  background: url(../images/splash-screen-elements/Ellipse.png) no-repeat center;
  background-size: contain;
  cursor: pointer; }

.start-block,
.summer-block,
.slipper-block {
  position: absolute;
  visibility: hidden; }

.start-block {
  width: 100%;
  height: 33%;
  top: 12%; }

.summer-block {
  width: 100%;
  height: 40%;
  bottom: 10%; }

.slipper-block {
  width: 115px;
  height: 98px;
  bottom: -30%;
  background: url(../images/splash-screen-elements/slipper.png) no-repeat center;
  background-size: 100%;
  cursor: auto; }

.start-block .s-letter,
.start-block .t-letter,
.start-block .a-letter,
.start-block .r-letter,
.start-block .t-second-letter {
  position: absolute; }
.start-block .s-letter {
  width: 65px;
  height: 65px;
  left: 5px;
  background: url(../images/splash-screen-elements/start-word/s-start.png) no-repeat center;
  background-size: 100%; }
.start-block .t-letter {
  width: 55px;
  height: 75px;
  left: 50px;
  top: -18px;
  background: url(../images/splash-screen-elements/start-word/t-start.png) no-repeat center;
  background-size: 100%; }
.start-block .a-letter {
  width: 50px;
  height: 66px;
  left: 78px;
  top: 1px;
  background: url(../images/splash-screen-elements/start-word/a-start.png) no-repeat center;
  background-size: 100%; }
.start-block .r-letter {
  width: 50px;
  height: 69px;
  right: 50px;
  top: -5px;
  background: url(../images/splash-screen-elements/start-word/r-start.png) no-repeat center;
  background-size: 100%; }
.start-block .t-second-letter {
  width: 52px;
  height: 75px;
  right: 14px;
  top: 0px;
  background: url(../images/splash-screen-elements/start-word/t-second-start.png) no-repeat center;
  background-size: 100%; }

.summer-block .s-letter,
.summer-block .u-letter,
.summer-block .m-letter,
.summer-block .m-second-letter,
.summer-block .e-letter,
.summer-block .r-letter {
  position: absolute; }
.summer-block .s-letter {
  width: 65px;
  height: 65px;
  left: -45px;
  background: url(../images/splash-screen-elements/summer-word/s-summer.png) no-repeat center;
  background-size: 100%;
  z-index: 2; }
.summer-block .u-letter {
  width: 45px;
  height: 66px;
  left: 15px;
  top: -7px;
  background: url(../images/splash-screen-elements/summer-word/u-summer.png) no-repeat center;
  background-size: 100%;
  z-index: 1; }
.summer-block .m-letter {
  width: 70px;
  height: 76px;
  left: 49px;
  background: url(../images/splash-screen-elements/summer-word/m-summer.png) no-repeat center;
  background-size: 100%; }
.summer-block .m-second-letter {
  width: 63px;
  height: 79px;
  right: 50px;
  top: -10px;
  background: url(../images/splash-screen-elements/summer-word/m-second-summer.png) no-repeat center;
  background-size: 100%; }
.summer-block .e-letter {
  width: 53px;
  height: 68px;
  right: 7px;
  top: 7px;
  background: url(../images/splash-screen-elements/summer-word/e-summer.png) no-repeat center;
  background-size: 100%;
  z-index: 1; }
.summer-block .r-letter {
  width: 60px;
  height: 80px;
  right: -44px;
  top: -13px;
  background: url(../images/splash-screen-elements/summer-word/r-summer.png) no-repeat center;
  background-size: 100%; }

.basic-ellipse:hover {
  animation-name: lessScale;
  animation-duration: .5s;
  animation-timing-function: ease;
  transform: scale(0.98); }

@keyframes lessScale {
  from {
    transform: scale(1); }
  to {
    transform: scale(0.98); } }
#silenceAudio {
  display: none; }

/***** start for choose character style *****/
.choose-character-main {
  justify-content: space-evenly;
  background-color: #fee000b0; }
  .choose-character-main .boy-section,
  .choose-character-main .girl-section {
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer; }
    .choose-character-main .boy-section .ellipse-animatiom-set,
    .choose-character-main .boy-section .character-block,
    .choose-character-main .girl-section .ellipse-animatiom-set,
    .choose-character-main .girl-section .character-block {
      width: 100%;
      height: 100%;
      position: absolute; }
    .choose-character-main .boy-section .ellipse-animation-set > img,
    .choose-character-main .girl-section .ellipse-animation-set > img {
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0;
      animation: circle-pulsing-animation 4s cubic-bezier(0.36, 0.11, 0.89, 0.32) infinite; }
    .choose-character-main .boy-section .character-block > img:first-child,
    .choose-character-main .girl-section .character-block > img:first-child {
      width: 100%;
      height: 100%;
      position: absolute; }
    .choose-character-main .boy-section .character-block > img:nth-child(2),
    .choose-character-main .girl-section .character-block > img:nth-child(2) {
      width: 70%;
      height: 95%;
      position: absolute;
      bottom: 0;
      left: 16%;
      transform: translateX(-50%);
      opacity: 1; }
      .choose-character-main .boy-section .character-block > img:nth-child(2).girl-character,
      .choose-character-main .girl-section .character-block > img:nth-child(2).girl-character {
        height: 102%;
        transform: translateX(-48%); }
  .choose-character-main h6 {
    color: #463024; }

@keyframes circle-pulsing-animation {
  from {
    transform: scale(0.75, 0.75);
    opacity: 1; }
  to {
    transform: scale(2, 2);
    opacity: 0; } }
_:-ms-lang(x),
.choose-character-main {
  background-color: #fde84d; }
  _:-ms-lang(x) .boy-section,
  .choose-character-main .boy-section {
    margin-right: 150px; }
  _:-ms-lang(x) .girl-section,
  .choose-character-main .girl-section {
    margin-left: 150px; }
  _:-ms-lang(x) h6,
  .choose-character-main h6 {
    left: 50%;
    transform: translateX(-50%); }

@supports (-ms-ime-align: auto) {
  .choose-character-main .boy-section,
  .choose-character-main .girl-section {
    position: absolute;
    margin: 0; }
  .choose-character-main .boy-section {
    left: 25%; }
  .choose-character-main .girl-section {
    right: 25%; } }

/*# sourceMappingURL=style.css.map */
